<template name="dealEdit">
	<div class="container">
		<form class="main form page">
			
<!-- 			<div class="form-group">
				<label class="control-label" for="url">Website</label>
				<div class="controls">
					<input name="url" id="url" type="text" value="{{url}}" placeholder="Your Website" class="form-control"/>
				</div>
			</div> -->

			<div class="form-group">
				<label class="control-label" for="city">Città</label>
				<div class="controls">
					<input name="city" id="city" type="text" value="{{city}}" placeholder="Città" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="title">Nome Menù</label>
				<input name="title" id="title" type="text" value="{{title}}" placeholder="Name your deal" class="form-control"/>
			</div>

			<div class="form-group">
				<label class="control-label" for="antipasto">Antipasto</label>
				<div class="controls">
					<input name="antipasto" id="antipasto" type="text" value="{{antipasto}}" placeholder="Antipasto" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="primo">Primo</label>
				<div class="controls">
					<input name="primo" id="primo" type="text" value="{{primo}}" placeholder="Primo" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="secondo">Secondo</label>
				<div class="controls">
					<input name="secondo" id="secondo" type="text" value="{{secondo}}" placeholder="Secondo" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="dolce">Dolce</label>
				<div class="dolce">
					<input name="dolce" id="dolce" type="text" value="{{dolce}}" placeholder="Dolce" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="bevande">Bevande</label>
				<div class="bevande">
					<input name="bevande" id="bevande" type="text" value="{{bevande}}" placeholder="Bevande" class="form-control"/>
				</div>
			</div>


			<div class="form-group">
				<label class="control-label" for="people">Coperti</label>
				<div class="controls">
					<input name="people" id="people" type="text" value="{{people}}" placeholder="Numero di persone" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="price">Prezzo €</label>
				<div class="controls">
					<input name="price" id="price" type="text" value="{{price}}" placeholder="Prezzo del menù" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="message">Descrizione</label>
				<textarea name="message" id="message" type="text" value="{{message}}" class="form-control"></textarea>
			</div>

			<input type="submit" value="Submit" class="btn btn-primary submit"/>
			<hr/>
			<a class="btn btn-danger delete" href="#">Delete deal</a>
		</form>
	</div>
</template>