<template name="dealEdit">
	<div class="container">
		<form class="main form page">
			
<!-- 			<div class="form-group">
				<label class="control-label" for="url">Website</label>
				<div class="controls">
					<input name="url" id="url" type="text" value="{{url}}" placeholder="Your Website" class="form-control"/>
				</div>
			</div> -->

			<div class="form-group">
				<label class="control-label" for="url">Città</label>
				<div class="controls">
					<input name="city" id="city" type="text" value="{{city}}" placeholder="Città" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="title">Nome Menù</label>
				<input name="title" id="title" type="text" value="{{title}}" placeholder="Name your deal" class="form-control"/>
			</div>

			<div class="form-group">
				<label class="control-label" for="url">Coperti</label>
				<div class="controls">
					<input name="people" id="people" type="text" value="{{people}}" placeholder="Numero di persone" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="url">Prezzo €</label>
				<div class="controls">
					<input name="price" id="price" type="text" value="{{price}}" placeholder="Prezzo del menù" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="message">Descrizione</label>
				<textarea name="message" id="message" type="text" value="{{message}}" class="form-control"></textarea>
			</div>

			<input type="submit" value="Submit" class="btn btn-primary submit"/>
			<hr/>
			<a class="btn btn-danger delete" href="#">Delete post</a>
		</form>
	</div>
</template>