<template name="dealSubmit">
	<div class="container">
		<div class="jumbotron">
        	<h1>Crea un nuovo Menù</h1>
        	<p class="lead">
        		Non importa che tu sia uno chef professionista, o semplicemente un aspirante tale,
        		Condividi con la community il tuo menù, leggi i commenti degli utenti e scala la classifica!
    		</p>
		</div>
		<form class="main form page">
			
			<div class="control-group">
				<label class="control-label" for="url">Località</label>
				<div class="controls">
					<input name="url" type="text" value="" placeholder="Dove ci fai mangiare?"/>
				</div>
			</div>
			<br/>

			<div class="control-group">
				<label class="control-label" for="title">Nome menù</label>
				<div class="controls">
					<input name="title" type="text" value="" placeholder="Cosa ci fai mangiare?"/>
				</div>
			</div>
			<br/>

			<div class="control-group">
				<label class="control-label" for="message">Descrizione Offerta</label>
				<div class="controls">
					<textarea name="message" type="text" placeholder="Descrivici il tuo menù..." value=""></textarea>
				</div>
			</div>
			<br/>

			<div class="control-group">
				<div class="controls">
					<input type="submit" value="Submit" class="btn btn-primary"/>
				</div>
			</div>

		</form>
	</div>
</template>