<template name="dealSubmit">
	<form class="main form page">
		
		<div class="control-group">
			<label class="control-label" for="url">Sito Web</label>
			<div class="controls">
				<input name="url" type="text" value="" placeholder="Your URL"/>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="title">Titolo offerta</label>
			<div class="controls">
				<input name="title" type="text" value="" placeholder="Name your deal"/>
			</div>
		</div>


		<div class="control-group">
			<label class="control-label" for="message">Descrizione Offerta</label>
			<div class="controls">
				<textarea name="message" type="text" value=""></textarea>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</div>
		</div>

	</form>
</template>