<template name="requestItem">
	<div class="request">
		<a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
		<div class="request-content">
			<h3><a href="{{pathFor 'requestPage'}}">{{title}}</a>- {{city}} (by {{author}})</h3>coperti: {{people}}<br/>
			<p>
				{{pluralize votes "Vote"}},

				<a href="{{pathFor 'requestPage'}}">{{pluralize commentsCount "comment"}}</a>
				{{#if ownRequest}}<a href="{{pathFor 'requestEdit'}}">Edit</a>{{/if}}
			</p>
		</div>
		<a href="{{pathFor 'requestPage'}}" class="discuss btn btn-default">Commenta</a>
	</div>

</template>