<!-- Notifications & Notification Templates-->
<template name="notifications">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Notifiche
		{{#if notificationCount}}
		<span class="badge badge-inverse">{{notificationCount}}</span>
		{{/if}}
		<b class="caret"></b>
	</a>
	<ul class="notification dropdown-menu">
		{{#if notificationCount}}
			{{#each notifications}}
				{{> notification}}
			{{/each}}
		{{else}}
			<li><span>Nessuna Nuova Notifica</span></li>
		{{/if}}
	</ul>
</template>

<template name="notification">
	<li>
		<a href="{{notificationDealPath}}">
			<strong>{{commenterName}}</strong> Ha commentato un tuo menù
		</a>
	</li>
</template>