<template name="about">
	<div class="container">
		<div class="jumbotron">
        	<h1>Pot Kettle Black</h1>
        	<p class="lead">
			<strong>Pot Kettle Black</strong> sta per <i>“the pot calling the kettle black”</i> è un <a href="http://en.wikipedia.org/wiki/The_pot_calling_the_kettle_black" target="_blank">detto popolare anglosassone</a> che in italiano si può tradurre con un <i>“da che pulpito viene la predica”</i>. <br/><br/>
			<strong>PKB</strong> nasce come un gioco tra amici che criticano scherzosamente le rispettive cucine e che a turno vestono i panni del <strong>Pot</strong> (il critico) o del <strong>Kettle</strong> (il cuoco). Da lì l’idea di dar vita ad una <strong>food community</strong> dove poter mettersi in gioco e confrontarsi mangiando bene.
    		</p>
		</div>
		<p>

		</p>


	</div>
</template>