<template name="about">
	<div class="container">
		<div class="jumbotron">
        	<h1>Pot Kettle Black</h1>
        	<p class="lead">
			<strong>Pot Kettle Black</strong> sta per <i>“the pot calling the kettle black”</i> è un <a href="http://en.wikipedia.org/wiki/The_pot_calling_the_kettle_black" target="_blank">detto popolare anglosassone</a> che in italiano si può tradurre con un <i>“da che pulpito viene la predica”</i>. <br/><br/>
			<strong>PKB</strong> nasce come un gioco tra amici che criticano scherzosamente le rispettive cucine e che a turno vestono i panni del <strong>Pot</strong> (il critico) o del <strong>Kettle</strong> (il cuoco). Da lì l’idea di dar vita ad una <strong>food community</strong> dove poter mettersi in gioco e confrontarsi mangiando bene.
			<br/>
			<br/>
			<strong>TODO:Qui altre info riguardanti lo stato attuale e come ci stiamo muovendo.</strong>
    		</p>
		</div>
		<div class="container marketing">
			<h1 align='center'>PKB Crew</h1>
			<br/>
			<br/>
			<div class="row">
				<div class="col-lg-4">
					<img class="img-circle" src="/Martina.jpg" alt="Martina Carola" width="140" height="140">
					<h2>Martina Carola</h2>
					<p> Co-Founder, PR & Communications<br/>
						<a href="http://nl.linkedin.com/pub/martina-carola/59/882/564/it" target="_blank"><img src="/linkedin.png" width="25"></a>
					</p>
				</div>
				<div class="col-lg-4">
					<img class="img-circle" src="/Giovanni.jpg" alt="Giovanni Fusco" width="140" height="140">
					<h2>Giovanni Fusco</h2>
					<p> Co-Founder, Business Analyst<br/>
						<a href="http://it.linkedin.com/pub/giovanni-fusco/b2/71/343/it" target="_blank"><img src="/linkedin.png" width="25"></a>
					</p>
				</div>
				<div class="col-lg-4">
					<img class="img-circle" src="/Marco.jpg" alt="Marco Giannone" width="140" height="140">
					<h2>Marco Giannone</h2>
					<p> Co-Founder, Software Engineer<br/>
						<a href="http://it.linkedin.com/pub/marco-giannone/24/897/b74/it" target="_blank"><img src="/linkedin.png" width="25"></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</template>