<template name="containerMarketing">
    <div class="container marketing"> 
        <h1 align='center'>PKB Prototype</h1>
        <br/>
    <!-- Three columns of text below the carousel -->
        <div class="row">
            
            <div class="col-lg-4">
                <img class="img" src="/vignetta_carbonara_cut.jpg" alt="PKBfood Experience" width="140" height="140">
                <h2>Iscriviti!</h2>
                <p>Potrai creare, votare e commentare i menù. Per ogni commento ad un tuo menù riceverai una notifica dalla piattaforma</p>
            </div><!-- /.col-lg-4 -->
      
            <div class="col-lg-4">
                <img class="img" src="/are_u_pot.jpg" alt="Sei un pot?" width="140" height="140">
                <h2>Sei un Pot?</h2>
                <p>Sei un amante della buona cucina e vuoi scoprire dove mangiar bene spendendo il giusto.
                </p>
            </div><!-- /.col-lg-4 -->
      
            <div class="col-lg-4">
                <!-- class="img-circle" -->
                <img class="img" src="/are_u_kettle.jpg" alt="Sei un kettle?" width="140" height="140">
                <h2>Sei un Kettle?</h2>
                <p>Ti stai affacciando/lavori nel mondo del food & beverage e vuoi fare esperienza, guadagnare e creare il tuo network di lavoro</p>
            </div><!-- /.col-lg-4 -->
        
        </div><!-- /.row -->    
    <!-- START THE FEATURETTES -->  
        <hr class="featurette-divider"> 

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">The Pot Calling the Kettle Black. <span class="text-muted"></span></h2>
                <p class="lead">PKB è la <strong>food community</strong> nata per dare la possibilità a cuochi <strong>professionisti, autodidatti e foodlovers</strong> di mettersi in gioco, confrontarsi e ottenere un guadagno sia economico che di visibilità. <br/><br/>
                    Per realizzare questo modello di food economy stiamo sviluppando un <strong>network di fiducia</strong> che consenta la diffusione e la condivisione tra utenti di nuove opportunità di <strong>pasti personalizzabili per tutte le tasche</strong>.</p>
            </div>
      
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="/pkb_food_circle.png" alt="PKB Food Community">
            </div>
        </div>  

        <hr class="featurette-divider"> 
        
        <h1 align='center'>E' tutto molto bello ma... Come Funziona?</h1>
        <hr class="featurette-divider"> 
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading"><span class="text-muted">PKB mEATing</span></h2>
                <p class="lead">
                    Abbiamo deciso di implementare un <i>"disruptive catering network"</i> quale punto di incontro tra la ristorazione professionale e quella amatoriale, per consentire la diffusione tra gli utenti di nuove opportunità di pasti personalizzabili di qualità e per tutte le tasche.<br/><br/>
                    La piattaforma costituisce un'opportunità per gli chef professionisti, ma anche per i cuochi amatoriali (giovani degli istituti alberghieri o autodidatti) e i foodlover, di mettersi in gioco e offrire soluzioni di ristorazioni <i>Professional Catering</i> adatte alle esigenze di chi vuole organizzare pranzi o cene private, feste, eventi o più semplicemente a chi è alla ricerca di qualcosa di nuovo sulla propria tavola.
                </p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <br/>
                <br/>
                <br/>
                <br/>
                <img class="featurette-image img-responsive center-block" src="/ingredienti.jpg" alt="ingredienti carbonara">
            </div>
        </div>  

        <hr class="featurette-divider"> 

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Sharing Food Culture<span class="text-muted"></span></h2>
                <p class="lead">Un trusted network P2P per persone che vogliono provare l'esperienza del social eating, guadagnare cucinando, o usufruire dei vantaggi dei servizi di catering e ristorazione professionale ad un prezzo scontato.<br/><br/>
                    L'utente potrà quindi:
                    <ul class="lead">
                        <li>Creare e offrire menù e servizi di catering</li>
                        <li>Prenotare un'offerta presente o richiederne una personalizzata</li>
                        <li>Guadagnare bonus invitando e condividendo l'esperienza con amici</li>
                    </ul>

                </p>
            </div>
            <div class="col-md-5">
                <br/>
                <br/>
                <br/>
                <br/>
                <img class="featurette-image img-responsive center-block" src="/pkbSchema.jpg" alt="PKB schema">
            </div>
        </div>  
    
        <hr class="featurette-divider"> 
    <!-- /END THE FEATURETTES -->   

    </div><!-- /.container -->
</template>