<template name="containerMarketing">
    <div class="container marketing"> 
        <h1 align='center'>PKB Prototype</h1>
        <br/>
    <!-- Three columns of text below the carousel -->
        <div class="row">
            
            <div class="col-lg-4">
                <img class="img" src="/vignetta_carbonara_cut.jpg" alt="PKBfood Experience" width="140" height="140">
                <h2>Iscriviti!</h2>
                <p>Potrai creare, votare e commentare i menù. Per ogni commento ad un tuo menù riceverai una notifica dalla piattaforma</p>
            </div><!-- /.col-lg-4 -->
      
            <div class="col-lg-4">
                <img class="img" src="/are_u_pot.jpg" alt="Sei un pot?" width="140" height="140">
                <h2>Sei un Pot?</h2>
                <p>Sei un amante della buona cucina e vuoi scoprire dove mangiar bene spendendo il giusto.
                </p>
            </div><!-- /.col-lg-4 -->
      
            <div class="col-lg-4">
                <!-- class="img-circle" -->
                <img class="img" src="/are_u_kettle.jpg" alt="Sei un kettle?" width="140" height="140">
                <h2>Sei un Kettle?</h2>
                <p>Ti stai affacciando/lavori nel mondo del food & beverage e vuoi fare esperienza, guadagnare e creare il tuo network di lavoro</p>
            </div><!-- /.col-lg-4 -->
        
        </div><!-- /.row -->    
    <!-- START THE FEATURETTES -->  
        <hr class="featurette-divider"> 

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">The Pot Calling the Kettle Black. <span class="text-muted"></span></h2>
                <p class="lead">PKB è la <strong>food community</strong> nata per dare la possibilità a cuochi <strong>professionisti, autodidatti e foodlovers</strong> di mettersi in gioco, confrontarsi e ottenere un guadagno sia economico che di visibilità. <br/><br/>
                    Per realizzare questo modello di food economy stiamo sviluppando un <strong>network di fiducia</strong> che consenta la diffusione e la condivisione tra utenti di nuove opportunità di <strong>pasti personalizzabili per tutte le tasche</strong>.</p>
            </div>
      
            <div class="col-md-5">
                <br/>
                <br/>
                <br/>
                <br/>
                <img class="featurette-image img-responsive center-block" src="/pkb_food_circle.png" alt="PKB Food Community">
            </div>
        </div>  

        <hr class="featurette-divider"> 
        
        <h1 align='center'>E' tutto molto bello ma... Come Funziona?</h1>
        <hr class="featurette-divider"> 
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">Sei un pot?<span class="text-muted">Ti piace mangiare</span></h2>
                <p class="lead">Sei un amante della cucina casereccia e vuoi scoprire dove mangiar bene spendendo il giusto?<br/><br/>
                    Ti piacerebbe creare il menù dei tuoi sogni per vederlo realizzato da un professionista?<br/><br/>
                    Ami condividere ricette, foto e video di piatti e vorresti vedere valorizzata la tua passione?<br/><br/>
                </p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="/vignetta_pomodoro.jpg" alt="Insalata russa">
            </div>
        </div>  

        <hr class="featurette-divider"> 

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Sei un kettle?<span class="text-muted">Vuoi metterti in gioco.</span></h2>
                <p class="lead">Ti stai affacciando nel mondo del food & beverage e vuoi fare esperienza, guadagnare e creare il tuo network di lavoro? <br/><br/>
                    Lavori nel settore della ristorazione e ti piace sperimentare nuove opportunità per far conoscere la tua cucina?<br/><br/>
                    Sei bravo in cucina e vorresti viaggiare mettendo a disposizione il tuo talento?<br/><br/>
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="/are_u_kettle.jpg" alt="Generic placeholder image">
            </div>
        </div>  
    
        <hr class="featurette-divider"> 
    <!-- /END THE FEATURETTES -->   

    </div><!-- /.container -->
</template>