<template name="header">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{pathFor 'home'}}"><img id="logo" src="PKBlogo.png"></a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li class="{{activeRouteClass 'newDeals'}}">
						<a href="{{pathFor 'newDeals'}}">Nuovi Menù</a>
					</li>
					<li class="{{activeRouteClass 'bestDeals'}}">
						<a href="{{pathFor 'bestDeals'}}">Top Menù</a>
					</li>
					{{#if currentUser}}
						<li class="{{activeRouteClass 'dealSubmit'}}">
							<a href="{{pathFor 'dealSubmit'}}">Crea Menù</a>
						</li>
						<li class="dropdown">
							{{> notifications}}
						</li>
					{{/if}}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="social-icon"><a href="https://www.facebook.com/pkbfood" target="_blank"><img id="social-icon" src="/facebook.png"></a></li>
					<li class="social-icon"><a href="https://instagram.com/pkbfood/" target="_blank"><img id="social-icon" src="/Instagram.png"></a></li>
					<li class="social-icon"><a href="https://twitter.com/PKBfood" target="_blank"><img id="social-icon" src="/twitter.png"></a></li>
					<li class="social-icon"><a href="http://potkettleblack.it/" target="_blank"><img id="social-icon" src="/wordpress.png"></a></li>
					{{> loginButtons}}
				</ul>
			</div>
		</div>
	</nav>
</template>