<template name="header">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{pathFor 'home'}}"><img id="logo" src="PKBlogo.png"></a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li class="dropdown {{activeRouteClass 'newDeals' 'bestDeals' 'dealSubmit'}}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menù <span class="caret"></span></a>            
          				<ul class="dropdown-menu" role="menu">
            				<li class="{{activeRouteClass 'newDeals'}}"><a href="{{pathFor 'newDeals'}}">Nuovi Menù</a></li>
            				<li class="{{activeRouteClass 'bestDeals'}}"><a href="{{pathFor 'bestDeals'}}">Top Menù</a></li>
            				{{#if currentUser}}
								<li class="{{activeRouteClass 'dealSubmit'}}">
									<a href="{{pathFor 'dealSubmit'}}">Crea Menù</a>
								</li>
							{{/if}}
            			</ul>
            		</li>
					<li class="dropdown {{activeRouteClass 'newRequests' 'bestRequests' 'requestSubmit'}}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Richieste<span class="caret"></span></a>            
          				<ul class="dropdown-menu" role="menu">
            				<li class="{{activeRouteClass 'newRequests'}}"><a href="{{pathFor 'newRequests'}}">Nuove Richieste</a></li>
            				<li class="{{activeRouteClass 'bestRequests'}}"><a href="{{pathFor 'bestRequests'}}">Top Richiete</a></li>
            				{{#if currentUser}}
								<li class="{{activeRouteClass 'requestSubmit'}}">
									<a href="{{pathFor 'requestSubmit'}}">Crea Richiesta</a>
								</li>
							{{/if}}
            			</ul>
            		</li>
					
					<li class="dropdown {{activeRouteClass 'newProfiles' 'bestProfiles'}}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users<span class="caret"></span></a>            
          				<ul class="dropdown-menu" role="menu">
            				<li class="{{activeRouteClass 'newProfiles'}}"><a href="{{pathFor 'newProfiles'}}">Nuovi Profili</a></li>
            				<li class="{{activeRouteClass 'bestProfiles'}}"><a href="{{pathFor 'bestProfiles'}}">Top Profili</a></li>
            			</ul>
            		</li>
<!-- 						<a href="{{pathFor 'newDeals'}}"></a>
					</li>
					<li class="{{activeRouteClass 'bestDeals'}}">
						<a href="{{pathFor 'bestDeals'}}">Top Menù</a>
					</li>

						<li class="{{activeRouteClass 'dealSubmit'}}">
							<a href="{{pathFor 'dealSubmit'}}">Crea Menù</a>
						</li>-->					
					{{#if currentUser}}
						<li class="dropdown">
							{{> notifications}}
						</li>
					{{/if}}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{pathFor 'aboutUs'}}">About Us</a></li>
					<li class="social-icon"><a href="https://www.facebook.com/pkbfood" target="_blank"><img id="social-icon" src="/facebook.png"></a></li>
					<li class="social-icon"><a href="https://instagram.com/pkbfood/" target="_blank"><img id="social-icon" src="/Instagram.png"></a></li>
					<li class="social-icon"><a href="https://twitter.com/PKBfood" target="_blank"><img id="social-icon" src="/twitter.png"></a></li>
					<li class="social-icon"><a href="http://potkettleblack.it/" target="_blank"><img id="social-icon" src="/wordpress.png"></a></li>
					{{> loginButtons align="right"}}
				</ul>
			</div>
		</div>
	</nav>
</template>